<!DOCTYPE html>
<html lang="en">

    <head class="heade>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- cssとtitle、</head>はblockの中に書く。理由はcssとtileがページ毎に違うため。-->
    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <div class="footA">
                <h2>CipherProject</h2>
                <p>作成者：渡利蘭太</p>
                <p>Hello!!CipherProject!!webサイトを作ってみました。<br>タイトルに特別な意味はありません。</p>
    
                <a href="/CipherProject/CipherMore?page=777">UnicodeTest</a>
    
            </div>
        </div>
    </footer>
    
</body>
</html>