{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<title>CipherProject-HOME</title>
</head>

<body>

    <header class="header">
        <div class="container">
        <a class="headA" href="">CipherProject</a>
        </div>
    </header>
    
    <section class="conA">
        <div class="container">
            <hr>
            <h1>CipherProject</h1>
            <p>
            ここは"CipherProject"のトップページです。<br>
            下記のリンクから暗号化できるページに飛ぶことが出来ます。
            </p>
            <hr>
        </div>
    </section>

    <section class="conB">
        <div class="container">
            <div class="text">
                <h2>caesar</h2>
                <p>カエサルシフト暗号は対応するアルファベットの文字列をずらします。<a class="urlB" href="/caesar">MORE...</a></p>
                <a class="urlA" href="#">これを使ってみる</a><br>
            </div>
            <div class="text">
                <h2>ViginereCipher</h2>
                <p>ヴィジュネル暗号は鍵をもとに一文字ずつにカエサルシフト暗号を掛けます。<a class="urlB" href="#">MORE...</a></p>
                <a class="urlA" href="#">これを使ってみる</a><br>
            </div>
            <div class="text">
                <h2>Enigma</h2>
                <p>第二次世界大戦中、ヒトラー率いるナチス・ドイツ軍が使用した暗号機器です。<a class="urlB" href="#">MORE...</a></p>
                <a class="urlA" href="#">SOON OPEN!!</a><br>
            </div>
        </div>
    </section>

{% endblock %}